.mapPage {
  padding: 25px 15px;

  h5 {
    text-align: left;
  }

  .map {
    margin-top: 25px;
    margin-bottom: 50px;
  }

  .btn-primary {
    --bs-btn-padding-y: 15px;
    --bs-btn-padding-x: 28px;
    --bs-btn-bg: #3D9C97;
    --bs-btn-hover-bg: #3D9C97;
    --bs-btn-border-color: #3D9C97;
    --bs-btn-border-radius: 28px;
    --bs-btn-font-size: 16px;
    --bs-btn-font-weight: 700;
  }

  .skeleton {
    span:first-child {
      height: 24px;
      margin-bottom: 8px;
    }

    span:last-child {
      height: 150px;
      margin-top: 25px;
      margin-bottom: 50px;
    }
  }
}